.movie-details{
    text-align: left;
    width: 840px;
    margin-left: 135px;

    .movie-title {
        font-size: 1.3rem;
        margin-top: 0.8rem;
    }

    .movie-statistics {
        margin-top: 0.8rem;
        display: flex;
        justify-content: space-between;
        color: dimgrey;
    }

    .movie-description {
        margin-bottom: 1rem;
    }
}

.movie-detail-wrapper > img {
    width: 100%;
    height: auto;
}